<!--
<div class="col-lg-12">
    &lt;!&ndash; Embedded Google Map &ndash;&gt;
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2844.171348881987!2d19.22077685119773!3d44.53212400306642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4759619eb6d7ad29%3A0x544efb9f542eeb0d!2z0JPQuNC80L3QsNC30LjRmNGB0LrQsCwg0JvQvtC30L3QuNGG0LA!5e0!3m2!1ssr!2srs!4v1497592159919"
            width="100%" height="800px" frameborder="0" style="border:15px" scrolling="no" marginheight="0"
            marginwidth="0" allowfullscreen></iframe>
</div>-->
<!--
<h3>My Google Maps Demo</h3>
<div id="map"></div>
<script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFJiGlnKlqtAlDAGytK-3myJm0VCpOhek&callback=initMap">
</script>-->
<!--
<div>
<h1>{{ title }}</h1>

&lt;!&ndash; this creates a google map on the page with the given lat/lng from &ndash;&gt;
&lt;!&ndash; the component as the initial center of the map: &ndash;&gt;
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
</div>-->


<script src="../../services/prodavnice.service.ts"></script>

<section>
    <!-- Project One -->


        <!--<ng-container *ngIf="prodavnica.katID== id">
        -->    <div class="col-md-12" >
    <ng-container *ngIf="id == 1">
        <iframe
                width="100%" height="400px" frameborder="0" style="border:0px" scrolling="no" marginheight="0"
                marginwidth="0" allowfullscreen  src="https://www.google.com/maps/d/u/0/embed?mid=1SehMvAW4lor1Qg47PLrusUwHz8o" >

        </iframe>
    </ng-container>
    <ng-container *ngIf="id == 2">
        <iframe
            width="100%" height="400px" frameborder="0" style="border:0px" scrolling="no" marginheight="0"
            marginwidth="0" allowfullscreen  src="https://www.google.com/maps/d/embed?mid=12WkSunBDcIBWPq8cA5WWANSVaQI&hl=sr" >

        </iframe>
    </ng-container>
            <br/>
            </div>
            <hr>
            <br/>
            <br/>
            <br/>
    <!--</ng-container>-->
    <div class="col-lg-12">
        <table  class="display" cellspacing="10" >
            <thead>
            <tr>

                <th>Naziv: </th>
                <th>Adresa </th>
                <th>Radno vreme: </th>
                <th>Kategorija objekta: </th>


            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let prodavnica of prodavnice">
                <td *ngIf="prodavnica.katObjektaID==id">{{prodavnica.naziv}}</td>
                <td *ngIf="prodavnica.katObjektaID==id">{{prodavnica.adresa}}</td>
                <td *ngIf="prodavnica.katObjektaID==id">{{prodavnica.radnoVreme}}</td>
                <td *ngIf="prodavnica.katObjektaID==id"><p *ngIf="prodavnica.katObjektaID==1">Prodavnica</p><p *ngIf="prodavnica.katObjektaID==2">Fitnes centar</p> </td>

            </tr>
            </tbody>
        </table>
    </div>

</section>