<section>
    <ng-container *ngIf="!isDone">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
<!--NASLOV TABELE-->
                    <tr>
                        <th>Proizvod</th>
                        <th>Kolicina</th>
                        <th class="text-center">Cena</th>
                        <th class="text-center">Ukupno</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let proizvod of prKorpa" >
<!--PODACI U TABELI-->
                        <ng-container *ngIf="!proizvod.isAdded"  >
                        <td class="col-sm-8 col-md-6" >
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{proizvod.url}}" style="width: 80px; height: 80px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{proizvod.ime}}</a></h4>
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <select [(ngModel)]="proizvod.kolicina" [value]="proizvod.kolicina"
                                    (click)="update(proizvod.idProizvoda, proizvod.kolicina)" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>

                            </select>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong >{{proizvod.cena}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{proizvod.cena * proizvod.kolicina}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger" (click)="remove(proizvod.idProizvoda)">
                                <span class="glyphicon glyphicon-remove" > Ukloni</span>
                            </button></td>
                    </ng-container>
                    </tr>

<!--OVDE STOJI UKUPNO-->
                    <tr *ngIf="prKorpa">
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Ukupno</h5></td>
                        <td class="text-right"><h5><strong  > {{this.getTotal()}}</strong></h5></td>
                    </tr>
<!--RED ZA CIFRU SLANJA-->
                    <tr *ngIf="prKorpa">
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Slanje: </h5></td>
                        <td class="text-right"><h5><strong> {{this.postarina()}}</strong></h5></td>
                    </tr>
<!--SLANJE PLUS UKUPNO-->
                    <tr *ngIf="prKorpa">
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total:  </h3></td>
                        <td class="text-right"><h3><strong>{{this.getUkupno()}} </strong></h3></td>
                    </tr>

<!--NARUCIVANJE I POVRATAK NAZAD NA PROIZVODE-->
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="isDone=true">
                                Naruci <span class="glyphicon glyphicon-play"></span>
                            </button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </ng-container>
    <!--PRIKAZ DELA ZA NARUCIVANJE-->
    <ng-container *ngIf="isDone">
        <div class="container">
            <div class="row">
                <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                    <div class="row" *ngIf="user">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <address>
                                <strong>{{user.ime}} {{user.prezime}}</strong>
                                <br>
                                {{user.adresa}}
                            </address>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                            <p id="date"></p>
                            <p>
                                <em>Broj narudzbenice: {{this.idKorpe}} </em>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <h1>Narudzbenica</h1>
                        </div>

                        <div class="paymentWrap">
                            <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                                <label class="btn paymentMethod active">
                                    <div><img class="img-responsive img-center" src="..\assets\img\aks.png" alt=""></div>
                                    <input type="radio" name="options" checked>
                                </label>
                                <label class="btn paymentMethod">
                                    <div><img class="img-responsive img-center" src="..\assets\img\bex.png" alt=""></div>
                                    <input type="radio" name="options">
                                </label>
                                <label class="btn paymentMethod">
                                    <div><img class="img-responsive img-center" src="..\assets\img\dhl.png" alt=""></div>
                                    <input type="radio" name="options">
                                </label>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <tbody>
                            <tr *ngIf="prKorpa">
                                <td>   </td>
                                <td>   </td>
                                <td class="text-right"><h4><strong>Za naplatu: </strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>{{getUkupno()}}</strong></h4></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-success btn-lg btn-block" (click)="checkout()">
                            Zavrsi   <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </ng-container>






</section>